/*
COLORS:
	bright green: #6AAC70
	bright blue: #67B5AB
	super dark brown: #2E2C26
	dark brown: #5C594D
	light beige: #DEDDC5
	lighter beige: #F2F1E8
	light golden: #FDE8B3 
	
*/

* { margin: 0; padding: 0 }

body { background-color: #5C594D }

header { background-image: url("../images/lrgImages/oglebaytrees.jpg");
         text-align: center;
	       font-family: sans;
      	 color: #5C594D }
.header_header { padding: 1em } 
.header_metanav { background-color: #67B5AB;
	 padding: 1em;
	 margin: 0; }

/* The box of tags that the user can select to filter the database */
#tags { position: static;
      background-color: #67B5AB;
      width: 100%;
      overflow: auto }
#tags ul { float: left; padding-left: 1em; padding-right: 1em }
.tags_nav { list-style-type: none }
.tags_nav li { display: inline } 
.tags_heading { clear: both; margin-top: 1em; margin-left: 1em; font-size: 1em }
.tags_activity, .tags_county { display: block;
	    float: left;
            text-decoration: none;
	    text-indent: 0;
	    padding: 0.5em;
            padding-top: 0.1em;
            padding-bottom: 0.1em;
	    margin: 0.1em;
            border-radius: 1em;
	    background-color: #DEDDC5  }
#tags .selected { border: 0.1em solid #5C594D; margin: 0 }
#tags a { color: #2E2C26;
	text-decoration: none }

.add { position: static;
       clear: both;
       background-color: #DEDDC5;
       margin: 0;
       padding: 1em }
.activitiesForm { border: 1px solid black;
		  padding: 1em }
.activitiesForm .activity { background-color: #67B5AB  }
.activitiesForm a { color: #2E2C26;
		    text-decoration: none }
.activitiesForm p { clear: both }

.main { position: static; 
	      clear: both; /* this keeps the activityList from intruding in cramped situations. */
        margin-bottom: 2em }

/* The main section on the place page. */
.place { position: static;
         background-color: #DEDDC5;
	 margin: 0;
	 padding-top: 1em;
	 padding-left: 1em; 
	 text-indent: 0; 
         list-style-type: none; 
	 margin: 0;
	 padding: 1em 2em;
	 background-color: #DEDDC5 }
.place_carousel { border: 1px solid black;
            width: 90%;
            margin: auto;
            margin-bottom: 1em; margin-top: 1em }
.place_carousel img { width: 30%;
                height: 10em }
.place_activity { display: block; 
                  float:left;
                  text-decoration: none;
                  text-indent: 0;
                  padding: 0.5em;
                  padding-top: 0.1em;
                  padding-bottom: 0.1em;
	          margin: 0.1em;
                  border-radius: 1em;
	          background-color: #67B5AB;
                  color: #DEDDC5}
.place_activity a { color: #DEDDC5;
                    text-decoration: none }
.place p { clear: both }

/* The main section on the directory page. */
.directory { box-shadow: none }
.directory_search { position: static;
		  background-color: #DEDDC5;
		  margin: 0;
		  padding-top: 1em;
		  padding-left: 1em }	     
.directory_list { display: block;
	   text-indent: 0; 
     list-style-type: none; 
	   margin: 0;
	   padding: 1em 2em;
	   background-color: #DEDDC5 }
.directory_card { background-color: #F2F1E8;
	   padding: 1em;
	   margin: 0.5em 0em;
	   border: 1px solid #5C594D }
.card_name {}
.card_description::before { content: " \2014 \00a0"}
.card_description {}
.card_description::after { content: " \2014 "}
.card_area::before { content: " at " }
.card_area {}
.directory_numbers { background-color: #DEDDC5 }
.directory a { color:  #67B5AB }
.directory a:visited { color:  #67B5AB }
.directory a:hover { color: #67B5AB }
.directory a:active { color: #67B5AB }

#map { position: static;
       width: 40em;
       height: 38em;
       margin: auto;
       /*background-color: green;
       background-image: url("../images/ohiovalleymap.png");*/
       /*border: 1px solid darkBlue*/ }

footer { background-color: #67B5AB;
	 padding: 1em;
	 margin: 0 }

/* Large screens */

@media all and (min-width: 65em) and (min-height: 40em) {

header { position: static;
       	 margin-left: 2em;
      	 margin-right: 34em;
      	 margin-top: 2em;
      	 height: calc(100vh - 34em);
      	 min-height: 7em;
         border-radius: 1em;
         box-shadow: 0em 0.5em 0.25em 0.1em #333 }

#tags { position: fixed;
      right: 2em;
      top: 2em;
      bottom: 34em;
      width: 30em;
      overflow: auto;
      height: calc(100vh - 34em);
      min-height: 7em; 
      border-bottom-left-radius: 1em;
      box-shadow: 0em 0.5em 0.3em 0.2em #333 }

#map { position: fixed;
       right: 2em;
       bottom: 2em;
       margin: 0;
       border-radius: 1em;
       box-shadow: 0em 0.5em 0.25em 0.1em #333 }

.place { position: static;
        margin-top: 2em;
        margin-left: 2em;
        margin-right: 34em;
        margin-bottom: 1em;
        border-radius: 0.5em 0.5em 0 0;
        box-shadow: 0em 0.5em 0.5em 0.25em #333 }

.directory { position: static;
        margin-top: 2em;
        margin-left: 2em;
        margin-right: 34em;
        border-top-right-radius: 1em;
        box-shadow: 0em 0.5em 0.5em 0.25em #333 }

.directory { box-shadow: none }
.directory_search { width: 25em;
		  padding-top: 1em;
		  padding-left: 1em;
		  border-radius: 0.5em 0.5em 0 0;
		  box-shadow: 0em 0.5em 0.5em 0.25em #333 }

.directory_list { margin: 0;
	   margin-bottom: 1em;
	   padding: 1em 2em;
	   border-radius: 0 1em 0em 0;
	   background-color: #DEDDC5;
	   box-shadow: 0em 0.5em 0.5em 0.25em #333 }

} /* end larger screens */


/* shorter screens */
/* shorter screens can't see both the map and the activity list on the left side. */
@media all and (max-height: 40em) {

#map { display: none }

}/* end shorter screens */

