{% extends "base.html" %}

{% block nav %}
	
    <nav id="tags">
        
    <h1 class="tags_heading">Activities</h1>	
    
    <ul id="tags_activities">
	<!-- Goes through each activity, adds "selected" class if it's selected, and displays it. -->
	{% for listActivity in page.activities %}
        {% with tagargs = page.selected|join('&') %}<!-- selected tags as a string -->
            <!-- sets the class of the button and what tags are in the link -->
	    {% if listActivity in page.selected_actitivites %}
              <li class="tags_activity selected">
	    {% else %}
              <li class="tags_activity">
              {% if tagargs == "" %}
                {% set tagargs = listActivity %}
              {% else %}
                {% set tagargs = tagargs ~ "&" ~ listActivity %}
              {% endif %}
	    {% endif %}
            <!-- The actual link -->
            <a href="{{ url_for('tags', tagargs=tagargs) }}">{{ listActivity }}</a></li>
            {% endwith %}
	  {% endfor %}
        <li class="tags_activity clear"><a href="{{ url_for('index', activity=None) }}">clear</a></li>
    </ul>

    <h1 class="tags_heading">Counties</h1>

    <ul id="tags_counties">
	<!-- Goes through each county, adds "selected" class if it's selected, and displays it. -->
	{% for listCounty in page.counties %}
        {% with tagargs = page.selected|join('&') %}<!-- selected tags as a string -->
            <!-- sets the class of the button and what tags are in the link -->
	    {% if listCounty in page.selected_counties %}
              <li class="tags_county selected">
	    {% else %}
              <li class="tags_county">
              {% if tagargs == "" %}
                {% set tagargs = listCounty %}
              {% else %}
                {% set tagargs = tagargs ~ "&" ~ listCounty %}
              {% endif %}
	    {% endif %}
            <!-- The actual link -->
            <a href="{{ url_for('tags', tagargs=tagargs) }}">{{ listCounty }}</a></li>
            {% endwith %}
	  {% endfor %}
        <li class="tags_county clear"><a href="{{ url_for('index', county=None) }}">clear</a></li>
    </ul>

    </nav>	
{% endblock nav %}

{% block main %}

	<div class="directory">

	<form class="directory_search">
        {{ tagInfo }}
	</form>

	<ul class="directory_list">
	
        {% for place in places %}
	<li class="directory_card"><a href="{{ url_for( '.places', place=place.name ) }}" class="card_name">
		    {{ place.name }}</a> 
	    <span class="card_description">{{ place.description }}</span>
	    <span class="card_area">{{ place.area }}</span>
            <span class="card_activities">{{ place.actList }}</span>
        </li>	
	{% else %} 
	<p>No matches.</p>
	{% endfor %}

	<p class="directory_numbers">
	{% if page.hasPages %}
	{% for _ in (range (page.numPages|int)) %}
	{% if loop.index == page.page %}
		{{loop.index}}
	{% else %}
		<a href="/page/{{ loop.index }}">{{loop.index}}</a> </li>
	{% endif %}
	{% endfor %}
	{% endif %}
	</p>

	</div>
{% endblock main %}

{% block script %}
	<script>
		var map = L.map('map').setView([{{ page.mapCenter.latitude }}, {{ page.mapCenter.longitude }}], 12);

		/*map.locate({setView: true, maxZoom: 16});*/

		L.tileLayer('http://localhost/osm/{z}/{x}/{y}.png', {
    			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
			maxZoom: 18
		}).addTo(map);

		function onLocationFound(e) {
		    var radius = e.accuracy / 2;

		    L.marker(e.latlng).addTo(map)
		        .bindPopup("You are within " + radius + " meters from this point").openPopup();

		    L.circle(e.latlng, radius).addTo(map);
		}

		map.on('locationfound', onLocationFound);
	
		function onLocationError(e) {
		    alert(e.message);
		}

		map.on('locationerror', onLocationError);

		{% for place in places %} 
		var marker = L.marker([{{ place.latitude }}, {{ place.longitude }}]).addTo(map);
		{% endfor %}

	</script>
{% endblock script %}
