{% extends "base.html" %}

{% block nav %}
	<nav id="tags">
        
        <h1 class="tags_heading">Activities</h1>	
        <ul id="tags_activities">
	<!-- This goes through all the activities, adds "selected" class if it's selected, and displays it. -->
	{% for listActivity in page.activities %}
		{% if listActivity.name==page.activity %}
		<li class="tags_activity selected">
		{% else %}
		<li class="tags_activity">
		{% endif %}<a href="{{ url_for('activity', activity=listActivity.name) }}">{{ listActivity.name }}</a></li>
	{% endfor %}
		<li class="tags_activity clear"><a href="{{ url_for('index', activity=None) }}">clear</a></li>

	</ul>

        <h1 class="tags_heading">Counties</h1>
        <ul id="tags_counties">
        {% for listCounty in page.counties %}
            {% if listCounty.name==page.county %}
            <li class="tags_county selected">
            {% else %}
            <li class="tags_county">
            {% endif %}<a href="{{ url_for('county', county=listCounty.name) }}">{{ listCounty.name }}</a></li>
        {% endfor %}
             <li class="tags_county clear"><a href="{{ url_for('index', county=None) }}">clear</a></li>

	</nav>	
{% endblock nav %}

{% block main %}

	<div class="place">
		
            <h1>{{ page.name }} </h1>

            <div>
                {% for image in page.images %}
                {% set image = 'images/' + image %}
                <p>Should be {{ image }} here! </p>
                <img src="{{ url_for('static', filename = image ) }}">
                {% endfor %}
		</div>

                <p>{{ page.description }}</p> 

		<ul class="place_activities">
		{% for listActivity in page.place_activities %}
                    <li class="place_activity"><a href="{{ url_for('activity', activity=listActivity.name) }}">{{ listActivity.name }}</a></li>
                {% endfor %}
		</ul>

                {% if not page.website == "" %}
                <p><a href="{{ page.website }}">Website</p>
                {% endif %}

                {% if not page.contact == "" %}
                <p>Contact: {{ page.contact }}</p>
                {% endif %}

                <p>&nbsp;</p>

        </div>

{% endblock main %}

{% block script %}
	<script>
		var map = L.map('map').setView([{{ page.mapCenter.latitude }}, {{ page.mapCenter.longitude }}], 12);

		/*map.locate({setView: true, maxZoom: 16});*/

		L.tileLayer('http://localhost/osm/{z}/{x}/{y}.png', {
    			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
			maxZoom: 18
		}).addTo(map);

		function onLocationFound(e) {
		    var radius = e.accuracy / 2;

		    L.marker(e.latlng).addTo(map)
		        .bindPopup("You are within " + radius + " meters from this point").openPopup();

		    L.circle(e.latlng, radius).addTo(map);
		}

		map.on('locationfound', onLocationFound);
	
		function onLocationError(e) {
		    alert(e.message);
		}

		map.on('locationerror', onLocationError);

		var marker = L.marker([{{ page.latitude }}, {{ page.longitude }}]).addTo(map);

	</script>
{% endblock script %}
