{% extends "base.html" %}

{% block nav %}

<nav> 

<p> Hello </p>

</nav>


{% endblock %}


{% block main %}

<div>

<form class="addForm" action="" method="post" name="addPlaceForm">

<p><label for="placeName">Place:</label><input type="text" name="placeName" required> </p>
<p><label for="placeDescription">Description:</label><input type="text" name="placeDescription"></p>

<fieldset>
    <legend for="activities">Activities:</legend>
	{% for listActivity in page.activities %}
		<li><input type="checkbox" value="{{ listActivity.name }}" name="activity"><label for="activity">{{ listActivity.name }}</label></li>
	{% endfor %}
<p><label for="newActivity">Add new activity</label><input type="text" name="newActivity"><input type="button" value="Add
"></p>
</fieldset>

<p><label for="county">County:</label><input type="text" name="county"> </p>

<p><label for="latitude" for="longitude">GPS coordinates:</label><input type="text" name="latitude">, <input type="text" name="longitude"> or <input type="button" value="Use Current Location"></p>

<p><input type="button" value="Submit"><input type="button" value="Clear"></p>

</form>

</div>

{% endblock %}


{% block script %}
	<script>

		var map = L.map('map').setView([{{ page.mapCenter.latitude }}, {{ page.mapCenter.longitude }}], 12);

		map.locate({setView: true, maxZoom: 16});

		L.tileLayer('http://localhost/osm/{z}/{x}/{y}.png', {
    			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
			maxZoom: 18
		}).addTo(map);

		function onLocationFound(e) {
		    var radius = e.accuracy / 2;

		    L.marker(e.latlng).addTo(map)
		        .bindPopup("You are within " + radius + " meters from this point").openPopup();

		    L.circle(e.latlng, radius).addTo(map);
		}

		map.on('locationfound', onLocationFound);
	
		function onLocationError(e) {
		    alert(e.message);
		}

		map.on('locationerror', onLocationError);

	</script>

{% endblock script %}
