<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% if title %}
		<title> {{ title }} - Outdoor Recreation </title>
		{% else %}
		<title> Welcome to Outdoor Recreation </title>
		{% endif %}
		<link href={{ url_for( 'static', filename='styles/style.css') }} rel=stylesheet type="text/css">
	</head>
<body>

	<header>

	<h1>Ohio Valley Adventures: {{ title }} </h1>

	</header>

	<div id="map">

	</div>

	<nav id="activitiesList">

	<ul>

	{% for activity in activities %}

		<li class="activity"><a href="{{ url_for('.activity', activity=activity.name) }}">{{ activity.name }}</a></li>

	{% endfor %}

	</ul>

	</nav>	
	
	<div id="directory">
	
	{% block directory %} {% endblock directory %}

	</div>

	<footer>
	
	<p>All data copyright Jesse Messylastname. 

	   Design by <a href="http://www.daydrea.me">daydrea.me</a></p>

	</footer>

</body>

</html>
