{% extends "base.html" %}

{% block directory %}

	<form>
	<label>Search: </label><input type="text">
	</form>

	<ul class="list">
	{% for place in places %}

	<li><a href="{{ url_for( '.places', place=place.name ) }}"
		    class="name">
		    {{ place.name }}</a> 
	    <span class="description">{{ place.description }}</span>
	    <span class="area">{{ place.area }}</span></li>
			
	{% else %} 

	<p>No matches.</p>
	
	{% endfor %}

	<p class="numbers">
	{% if hasPages %}
	{% for _ in (range (numPages|int)) %}
	{% if loop.index == page %}
		{{loop.index}}
	{% else %}
		<a href="/page/{{ loop.index }}">{{loop.index}}</a> </li>
	{% endif %}
	{% endfor %}
	{% endif %}
	</p>

{% endblock directory %}
