{% extends "base.html" %}

{% block nav %}

<nav> 

<p> Hello </p>

</nav>


{% endblock %}


{% block main %}

<div>


{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form class="addForm" action="{{ url_for('login') }}" method="post" name="addPlaceForm">

<p><label for="username">Username:</label><input type="text" name="username" required> </p>
<p><label for="placeDescription">Password:</label><input type="password" name="password" required></p>

<p><input type="submit" value="Login"></p>


</form>

</div>

{% endblock %}


{% block script %}
	<script>

		var map = L.map('map').setView([{{ page.mapCenter.latitude }}, {{ page.mapCenter.longitude }}], 12);

		map.locate({setView: true, maxZoom: 16});

		L.tileLayer('http://localhost/osm/{z}/{x}/{y}.png', {
    			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
			maxZoom: 18
		}).addTo(map);

		function onLocationFound(e) {
		    var radius = e.accuracy / 2;

		    L.marker(e.latlng).addTo(map)
		        .bindPopup("You are within " + radius + " meters from this point").openPopup();

		    L.circle(e.latlng, radius).addTo(map);
		}

		map.on('locationfound', onLocationFound);
	
		function onLocationError(e) {
		    alert(e.message);
		}

		map.on('locationerror', onLocationError);

	</script>

{% endblock script %}
